#profileImageCard{
    border: 1px solid #1f1f1f;
    border-radius: 40px;
}

#matCardHeader{
    height: 270px;
    border-radius: 40px;
}

.divProfileData{
    height: 250;
    max-width: 25px;
    font-size: 18px;
    margin-left: 35px;
    font-style: normal;
    color: black;
    font-weight: 900;
    text-shadow: 0 0 10px #1f1f1f;
}