<mat-card id="profileImageCard">
    <mat-card-header id="matCardHeader">
        <img [src]="imageUrl | async" id="profileImg">
        <div class="divProfileDataIInput">
            <div>
                <input type="file" id="image-input" (change)="uploadImage($event)" style="width: 77px; height: 20px; font-size: 10px; border-radius: 20px;">
            </div>
            <div class="divProfileData">
                P<br>r<br>o<br>f<br>i<br>l<br>e<br><br>D<br>a<br>t<br>a
            </div>
        </div>
    </mat-card-header>
</mat-card>

