
<div class="container333">
    <div class="divTekst">
        "AutoBest" je godišnja nagrada dodeljena najboljem novom automobilu na evropskom tržištu.
        Neki od najpopularnijih automobila u poslednjim godinama uključuju Tesla Model 3, Toyota Corolla i Honda Civic.
        Industrija automobila stalno radi na inovacijama, uključujući autonomnu vožnju, električna vozila i pametne tehnologije.
        Industrija automobila takođe radi na smanjenju emisija gasova sa efektom staklene bašte i razvoju održivih energentskih izvora za vozila.

    </div>
</div>
