.matToolbar {
    background-color: #1f1f1f;
    position: relative; /* Postavite relativnu poziciju za .matToolbar */
}

#homeButton {
    position: absolute; /* Postavite apsolutnu poziciju za "Home" dugme */
    left: 800px; /* Pomaknite "Home" dugme */
}

#profileButton {
    position: absolute; /* Postavite apsolutnu poziciju za "Profile" dugme */
    left: 1300px; /* Pomaknite "Profile" dugme */
}

.wrapper .button{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}

.wrapper .button:hover{
    width: 130px;
}


.wrapper .button .icon{
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 30px;
    box-sizing: border-box;
    line-height: 40px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon{
    background: orange;
}

.wrapper .button .icon i {
    font-size: 20px;
    line-height: 40px;
    transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i{
    color: #fff;
}

.wrapper .button span{
    font-size: 15px;;
    font-weight: 500;
    line-height: 40px;
    margin-left: 5px;
}

.wrapper .button:nth-child(1) span{
    color: orange;
}











