<div class="divStrelice">
    <button mat-button id="basicButton2" (click)="photos.click()">
        Dodaj sliku/slike
        <input #photos type="file" multiple (change)="addPhotos($event)" style="display:none;">
    </button>
    <button class="arrow-button" (click)="stepBack()"><</button>
    <button class="arrow-button" (click)="stepForward()">></button>
    <button mat-button id="basicButton1">Postavi oglas</button>
</div>
<div class="container223">
    <mat-form-field class="example-form-field">
        <mat-label>Stanje</mat-label>
        <input matInput type="text" [(ngModel)]="value1">
        <button *ngIf="value1" matSuffix mat-icon-button aria-label="Stanje" (click)="value1=''">
        <mat-icon style="color: black;">edit</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field class="example-form-field">
        <mat-label>Marka</mat-label>
        <input matInput type="text" [(ngModel)]="value2">
        <button *ngIf="value2" matSuffix mat-icon-button aria-label="Marka" (click)="value2=''">
    <mat-icon style="color: black;">edit</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field class="example-form-field">
        <mat-label>Model</mat-label>
        <input matInput type="text" [(ngModel)]="value3">
        <button *ngIf="value3" matSuffix mat-icon-button aria-label="Model" (click)="value3=''">
        <mat-icon style="color: black;">edit</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field class="example-form-field">
        <mat-label>Godiste</mat-label>
        <input matInput type="text" [(ngModel)]="value4">
        <button *ngIf="value4" matSuffix mat-icon-button aria-label="Godiste" (click)="value4=''">
        <mat-icon style="color: black;">edit</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field class="example-form-field">
        <mat-label>Kilometraza</mat-label>
        <input matInput type="text" [(ngModel)]="value5">
        <button *ngIf="value5" matSuffix mat-icon-button aria-label="Kilometraza" (click)="value5=''">
        <mat-icon style="color: black;">edit</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field class="example-form-field">
        <mat-label>Karoserija</mat-label>
        <input matInput type="text" [(ngModel)]="value6">
        <button *ngIf="value6" matSuffix mat-icon-button aria-label="Karoserija" (click)="value6=''">
        <mat-icon style="color: black;">edit</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field class="example-form-field">
        <mat-label>Gorivo</mat-label>
        <input matInput type="text" [(ngModel)]="value7">
        <button *ngIf="value7" matSuffix mat-icon-button aria-label="Gorivo" (click)="value7=''">
        <mat-icon style="color: black;">edit</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field class="example-form-field">
        <mat-label>Kubikaza</mat-label>
        <input matInput type="text" [(ngModel)]="value8">
        <button *ngIf="value8" matSuffix mat-icon-button aria-label="Kubikaza" (click)="value8=''">
        <mat-icon style="color: black;">edit</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field class="example-form-field">
        <mat-label>Snaga motora</mat-label>
        <input matInput type="text" [(ngModel)]="value9">
        <button *ngIf="value9" matSuffix mat-icon-button aria-label="Snaga motora" (click)="value9=''">
        <mat-icon style="color: black;">edit</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field class="example-form-field">
        <mat-label>Cena</mat-label>
        <input matInput type="text" [(ngModel)]="value10">
        <button *ngIf="value10" matSuffix mat-icon-button aria-label="Cena" (click)="value10=''">
        <mat-icon style="color: black;">edit</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field class="example-form-field">
        <mat-label>Fiksna cena</mat-label>
        <input matInput type="text" [(ngModel)]="value11">
        <button *ngIf="value11" matSuffix mat-icon-button aria-label="Fiksna cena" (click)="value11=''">
        <mat-icon style="color: black;">edit</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field class="example-form-field">
        <mat-label>Zamena</mat-label>
        <input matInput type="text" [(ngModel)]="value12">
        <button *ngIf="value12" matSuffix mat-icon-button aria-label="Zamena" (click)="value12=''">
        <mat-icon style="color: black;">edit</mat-icon>
        </button>
    </mat-form-field>
</div>
