.example-form-field {
    width: 200px;
}

.container223{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: left;
    margin-left: 30px;
    margin-right: 30px;
}

.arrow-button {
    background-color: transparent; 
    border: none; 
    font-size: 44px; 
    cursor: pointer; 
    padding: 5px 10px;
    margin-left: 110px;
    text-shadow: 0 0 10px #1f1f1f;
}
  
.arrow-button:hover {
    color: orange; 
}

.divStrelice{
    height: 65px;
}
  

#basicButton1{
    color: white;
    background-color: green;
    border-radius: 10px;
    border-right: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
}

#basicButton2{
    color: white;
    background-color: #1f1f1f;
    border-radius: 10px;
    border-right: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
}