.container{
    display: flex;
}

.divProfileImageCart{
    width: 360px;
    height: 600px;
    margin-left: 30px;
    margin-top: 20px;
    border: 2px solid #1f1f1f;
    border-radius: 40px;
}

.divAddCarImage{
    width: 750px;
    height: 600px;
    margin-left: 30px;
    margin-top: 20px;
    border: 2px solid #1f1f1f;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
