<div class="container222">
    <div class="header1">
        Search by
    </div>
    <div class="divZaDugmice">
        <input [(ngModel)]="inputValue1"  class="custom-input" type="text" placeholder="Stanje">
            <button  mat-icon-button aria-label="Izvrši akciju1" (click)="performAction(1)" class="action-button" [ngClass]="{'green-button': clickedButtonIndex === 1}">
              <mat-icon style="color: orange;">done</mat-icon>
        </button>
        <input [(ngModel)]="inputValue2" class="custom-input" type="text" placeholder="Marka">
            <button  mat-icon-button aria-label="Izvrši akciju2" (click)="performAction(2)" class="action-button" [ngClass]="{'green-button': clickedButtonIndex === 2}">
              <mat-icon style="color: orange;">done</mat-icon>
        </button>
        <input [(ngModel)]="inputValue3" class="custom-input" type="text" placeholder="Model">
            <button  mat-icon-button aria-label="Izvrši akciju3" (click)="performAction(3)" class="action-button" [ngClass]="{'green-button': clickedButtonIndex === 3}">
              <mat-icon style="color: orange;">done</mat-icon>
        </button>
        <input [(ngModel)]="inputValue4" class="custom-input" type="text" placeholder="Godiste">
            <button  mat-icon-button aria-label="Izvrši akciju4" (click)="performAction(4)" class="action-button" [ngClass]="{'green-button': clickedButtonIndex === 4}">
              <mat-icon style="color: orange;">done</mat-icon>
        </button>
        <input [(ngModel)]="inputValue5" class="custom-input" type="text" placeholder="Kilometraza">
            <button  mat-icon-button aria-label="Izvrši akciju5" (click)="performAction(5)" class="action-button" [ngClass]="{'green-button': clickedButtonIndex === 5}">
              <mat-icon style="color: orange;">done</mat-icon>
        </button>
        <input [(ngModel)]="inputValue6" class="custom-input" type="text" placeholder="Karoserija">
            <button  mat-icon-button aria-label="Izvrši akciju6" (click)="performAction(6)" class="action-button" [ngClass]="{'green-button': clickedButtonIndex === 6}">
              <mat-icon style="color: orange;">done</mat-icon>
        </button>
        <input [(ngModel)]="inputValue7" class="custom-input" type="text" placeholder="Gorivo">
            <button  mat-icon-button aria-label="Izvrši akciju7" (click)="performAction(7)" class="action-button" [ngClass]="{'green-button': clickedButtonIndex === 7}">
              <mat-icon style="color: orange;">done</mat-icon>
        </button>
        <input [(ngModel)]="inputValue8" class="custom-input" type="text" placeholder="Kubikaza">
            <button  mat-icon-button aria-label="Izvrši akciju8" (click)="performAction(8)" class="action-button" [ngClass]="{'green-button': clickedButtonIndex === 8}">
              <mat-icon style="color: orange;">done</mat-icon>
        </button>
        <input [(ngModel)]="inputValue9" class="custom-input" type="text" placeholder="Cena">
            <button  mat-icon-button aria-label="Izvrši akciju" (click)="performAction(9)" class="action-button" [ngClass]="{'green-button': clickedButtonIndex === 9}">
              <mat-icon style="color: orange;">done</mat-icon>
        </button>
    </div>
</div>
