<div class="divCarCard1">
    <div class="divZaSliku">
        <img src="assets/noCarImage/no-image-available.webp" style="height: 181px; width: 284px; border-radius: 40px; margin-top: 3px;
        margin-left: 3px; margin-right: 3px;">
    </div>
    <div class="divPodaci">
      <div class="DivNaziv">
        <label id="labelNaziv">Naziv</label>
        <div>{{value1}}</div>
      </div>
      <div class="DivCena">
        <label id="labelCena">Cena</label>
        <div>{{value2}}</div>
      </div>
      <div class="DivGodiste">
        <label id="labelGodiste">Godiste</label>
        <div>{{value3}}</div>
      </div>
      </div>
    <div class="divDugmici">
      <button mat-button id="basicButton" (click)="toggleContent()">View More</button>
    </div>
    
    <div *ngIf="showAdditionalContent" class="blur-background" (click)="closeAdditionalContent()"></div>
    <div *ngIf="showAdditionalContent" class="divContent">
      <p class="nazivDiv">Vokswagen passat</p>
      <div class="divSlikaInfo">
        <div class="divZaSliku1">
          <img src="../../../../assets/noCarImage/no-image-available.webp" id="slika1">
        </div>
        <div class="infoDiv">
          podaci
        </div>
      </div>
      <div class="divRegistracija">
        podaci za registraciju i dugme neko
      </div>
    </div>
</div>
